@model TP1_GEN.Models.Film

@{
    ViewData["Title"] = "Details";
    string posterUrl = "https://image.tmdb.org/t/p/w600_and_h900_bestv2" + @Model.PosterUrl;
    string backdropUrl = "https://image.tmdb.org/t/p/w1400_and_h450_face" + @Model.BackdropUrl;
    string crew = "";
    string cast = "";
    int crewCount = 1;
    int castCount = 1;
}

<div>
    <div class="row">
        <div class="col-md-12">
            <img class="img-fluid" src="@backdropUrl" />
        </div>
    </div>
    <br />
    <div class="row">
        <div id="poster" class="col-md-2">
            <img class="img-fluid" src="@posterUrl" />
        </div>
        <div class="col-md-10">
            <div class="info">
                <div class="row">
                    <h2 id="title">
                        @Html.DisplayFor(model => model.Title)
                    </h2>
                </div>
                <div class="row" id="rating">
                    <div class="align-middle">
                        <i class="fas fa-star"></i>@Html.DisplayFor(model => model.Rating)
                    </div>
                </div>
                <div class="row" id="actions">
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary">
                            Buy on eBay <i class="fab fa-ebay"></i>
                        </button>
                        <button type="button" class="btn btn-secondary">
                            Watch Trailer <i class="fab fa-youtube"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <h2>@Html.DisplayNameFor(model => model.Summary)</h2>
            <p>@Html.DisplayFor(model => model.Summary)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>@Html.DisplayNameFor(model => model.Casting)</h2>
            <p>

                @foreach (var c in Model.Casting)
                {
                    if (castCount != Model.Casting.Count())
                    {
                        cast += c + ", ";
                    }
                    else
                    {
                        cast += c + ". ";
                    }
                    ++castCount;
                }
                @cast
            </p>
        </div>
        <div class="col-md-6">
            <h2>@Html.DisplayNameFor(model => model.Team)</h2>
            <p>
                @foreach (var c in Model.Team)
                {
                    if (crewCount != Model.Team.Count)
                    {
                        crew += c + ", ";
                    }
                    else
                    {
                        crew += c + ". ";
                    }
                    ++crewCount;
                }
                @crew
            </p>
        </div>
    </div>
</div>
<a class="btn btn-secondary" asp-action="Index">Back to List</a>
