@model TP1_GEN.Models.Film

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="row">
        @*Big-ass image*@
    </div>
    <div class="row">
        <div id="poster" class="col-md-1">
            <img src="@Html.DisplayFor(model => model.PosterUrl)" />
        </div>
        <div class="col-md-11">
            <div id="title" class="row">
                @Html.DisplayFor(model => model.Title)
            </div>
            <div class="row" id="rating">
                <span class="glyphicon glyphicon-star"></span>@Html.DisplayFor(model => model.Rating)
            </div>
            <div class="row" id="actions">
                <button>@*EBAY*@</button>
                <button>@*YouTube Trailer*@</button>
            </div>
        </div>
    </div>
    <div class="row">
        <h2>@Html.DisplayNameFor(model => model.Summary)</h2>
        <p>@Html.DisplayFor(model => model.Summary)</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>@Html.DisplayNameFor(model => model.Casting)</h2>
            <p>@Html.DisplayFor(model => model.Casting)</p>
        </div>
        <div class="col-md-6">
            <h2>@Html.DisplayNameFor(model => model.Team)</h2>
            <p>@Html.DisplayFor(model => model.Team)</p>
        </div>
    </div>
</div>
<a asp-action="Index">Back to List</a>
