@model List<TP1_GEN.Models.FilmOverview>

@{
    ViewData["Title"] = "Home Page";
    int counter = 0;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="index" id="searchForm">
            <input name="search" type="text" placeholder="Search..." id="search" />
        </form>
    </div>
</div>
<div class="row">
    @foreach (var film in Model)
    {
        string url = "https://image.tmdb.org/t/p/w600_and_h900_bestv2" + @film.PosterUrl;
        if (counter != 0 && counter % 4 == 0)
        {
        @:</div>
        @:<div class="row">
        }
        <div class="col-md-3">
            <div class="movie">
                <div id="poster">
                    <img class="img-fluid" src="@url" />
                </div>
                <div class="row details">
                    <div class="col-9">
                        @film.Title
                    </div>
                    <div class="col-3">
                        <form asp-controller="Home" asp-action="Details">
                            <button type="submit" class="btn btn-secondary float-right">Details</button>
                            <input name="Id" type="hidden" value="@film.Id" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-8">
    </div>
    <div class="col-2">
        @if ((int)ViewData["Page"] == 1)
        { 
        <form asp-action="index">
            <button type="submit" class="btn btn-secondary">Previous Page</button>
            <input type="hidden" name="page" value="@((int)ViewData["Page"] - 1)" />
            @if (ViewData["Search"] != null)
            {
                <input type="hidden" name="search" value="@ViewData["Search"]" />
            }
        </form>
        }
    </div>
    <div class="col-2">
        <form asp-action="index">
            <button type="submit" class="float-right btn btn-secondary">Next Page</button>
            <input type="hidden" name="page" value="@((int)ViewData["Page"] + 1)" />
            @if (ViewData["Search"] != null)
            {
                <input type="hidden" name="search" value="@ViewData["Search"]" />
            }
        </form>
    </div>
</div>
<script>
    $("#searchForm").find("#search").keypress(function (e) {
        if (e.which == 10 && e.which == 13) {
            this.form.submit();
        }
    })
</script>
